<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css" />
    <title>Document</title>
</head>
<body>
    <a href="./home.html"> BACK </a>
    <p id="mashaInfo" >Masha information</h1>
    <hr>
    <section id="steps">
        <p id ="mashaIntro"><b>Who's Masha?</b></p>

    </section>
    <div id ="imagesAbout">
            <div class="column"><img src="../img/babymasha.jpg" id = "babyMasha" hidden/></div>
            <div class="column"><img src="../img/mashavicky.jpg" id = "mashaVicky" hidden/></div>
            <div class="column"><img src="../img/mashagordo3.jpg" id = "mashaGordo" hidden/></div>
            <div class="column"><img src="../img/mashabox2.jpg" id = "mashaBox" hidden/></div>
        
        
        </div>


    
<script src="../data.js"></script>
<script src="../about.js"></script>

    
</body>
</html>
