<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../public/style.css" />
    
    <title>Home</title>
</head>
<body>
    <div id="title">
    
    <p> Masha's Website </p>
    </div>
    <hr>   
    
    <div id="buttons">
            <button type="submit" onclick="hrefFunction()" class ="btn btn-about active"><strong>Cat information</strong></button>
            
            
            <button type="submit" onclick="hrefFunction2()" class ="btn btn-about active"><strong>Cat Works</strong></button>
           
            
            <button type="submit" onclick="hrefFunction3()" class ="btn btn-about active"><strong>Cat Photos Gallery</strong></button>
           
    </div>
    <img id="gif" src="../img/cat.gif">
    <div id="byparagraph"><p>By Marcelo Martins @Ironhack2023</p>
    </div>
    <script src="../data.js"></script>
    <script src="../home.js"></script>
    
</body>
</html>