<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css" />
    <title>Document</title>
</head>
<body>
    <a href="./home.html">BACK</a>
    <p id="mashaInfo" >Photo Gallery</h1>
    <hr>

</body>
<div id ="imagesAbout">
    <div class="column"><img src="../img/mashatable.jpg" id = "mashaTable" /></div>
    <div class="column"><img src="../img/mashasis.jpg" id = "mashaSis" /></div>
    <div class="column"><img src="../img/mashasit.jpg" id = "mashaSit" /></div>
    <div class="column"><img src="../img/mashasleeping.jpg" id = "mashaSleeping" /></div>
    <section id="steps">
        <p id ="mashaWorks"><b>Masha Photos</b></p>

    </section>

<script src="../data.js"></script>
<script src="../photogallery.js"></script>

</html>
