<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css" />
    <title>Document</title>
</head>
<body>
    <a href="./home.html">BACK</a>
    <p id="mashaInfo" >Masha Works</h1>
    <hr>
    </body>

    

    <div id ="imagesAbout">
    <div class="column"><img src="../img/mashabox.jpg" id = "mashaBox1"/></div>
    <div class="column"><img src="../img/mashaplants.jpg" id = "mashaPlants"/></div>
    <div class="column"><img src="../img/mashapool.jpg" id = "mashaPool"/></div>
    <div class="column"><img src="../img/mashawater.jpg" id = "mashaWater"/></div>
    <section id="steps">
    <div id ="mashaWorks"></div>

    </section>

<script src="../data.js"></script>
<script src="../works.js"></script>
</div>
</html>
